<!DOCTYPE html>
<html>

<head>
    <title>Camp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">camp</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- check if user is logged in to know what to display -->
                    <% if(!currentUser) { %>
                        <li><a href="/login">login</a></li>
                        <li><a href="/register">sign up</a></li>
                    <% } else { %>
                        <li><a href="#">Hello, <%= currentUser.username %></a></li>
                        <li><a href="/logout">logout</a></li>
                        
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <!-- flash messages (e.g. 'you must be logged in', 'logged out') -->
    <div class="container">
        <% if(successMessage  && successMessage.length>0) { %>
        <div class="alert alert-success" role="alert">
            <%= successMessage %>
        </div>
        <% } %>
        <% if(errorMessage && errorMessage.length>0) { %>
        <div class="alert alert-danger" role="alert">
            <%= errorMessage %>
        </div>
        <% } %>
    </div>