<% include ../partials/headers %>

<div class="container">

    <header class="jumbotron">
        <div class="container">
            <h1>this is camp grounds.</h1>
            <p>view our camps from Gazorpazorp</p>
            <p>
                <a class="btn btn-primary btn-md" href="/camps/new">add a new camp</a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display: flex; flex-wrap: wrap">
        <% camps.forEach(function(camp){ %>
        <div class="col-md-3 col-sm-6">

            <div class="thumbnail">
                <img src="<%= camp.img %>" alt="photo of <%= camp.name %>">

                <div class="caption">
                        <h3><%= camp.name %></h3>
                    </div>
                    <p>
                        <a href="/camps/<%= camp._id %>" class="btn btn-primary">more info.</a>
                    </p>
            </div>

        </div>
        <% }); %>
    </div>

</div>


<% include ../partials/footers %>
