<% include partials/headers %>

<h1>this is camp grounds.</h1>

<a href="/campgrounds/new">add a new camp</a>

    <% campGrounds.forEach(function(camp){ %>
      <div>
        <h3><%= camp.name %></h3>
        <img src="<%= camp.img %>" alt="photo of <%= camp.name %>">
      </div>
    <% }); %>

<% include partials/footers %>