<% include partials/headers %>

<h1>Create new camp ground</h1>

<form action="/campgrounds" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="image url" name="img">
    <button>submit</button>
</form>

<a href="/campgrounds">back to camp grounds.</a>

<% include partials/footers %>