<% include ./partials/headers %>

<h1>REGISTER PAGE</h1>

<form action="/register" method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="text" placeholder="password" name="password">
    <button>sign up</button>
</form>

<% include ./partials/footers %>
